<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.10.0-beta0002" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net45" />
  <package id="itextsharp.pdfa" version="5.5.10" targetFramework="net45" />
  <package id="itextsharp.xtra" version="5.5.10" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net45" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3-beta1" targetFramework="net45" />
  <package id="Select.Pdf" version="17.3.0" targetFramework="net45" />
  <package id="System.DirectoryServices" version="4.5.0" targetFramework="net45" />
</packages>